.card {
    background: #fff;
}
.dieuhuong{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.back{
    font-size: 18pt;
    font-weight: 600;
}
.thongbao p{
    margin-top: 4px;
    color: #009CD6;
   font-weight: 600;
   font-size: 12pt;
}
.search{
    font-size: 15pt;
    margin-top: 5px;
}
.ttkq{
    margin-left: -16px;
    font-size: 9pt;
}
.ttkq p{
    padding:0;
    margin:0;
}
.time{
    display: flex;
    justify-content: space-between;
}
.iconn{
    margin-right: -45px;
}
.ttchinh{
    margin:0px;
    padding:0px;
    background: rgba(245, 207, 157, 0.818);
    border-radius: 5px;
    margin-bottom: 7px;
}
.heading1{
    font-weight: 700;
    margin-top: 5px;
}
.tgian{
    color: rgb(133, 133, 133);
    font-size: 8pt;
}
.ttchinh2{
    margin:0px;
    padding:0px;
    background: rgba(188, 228, 237, 0.818);
    border-radius: 5px;
    margin-bottom: 5px;
}
.ttchinh2:hover{
    margin:0px;
    padding:0px;
    background: rgba(188, 228, 237, 0.818);
    border-radius: 5px;
    margin-bottom: 5px;
    opacity: 80%;
}
.ttchinh:hover{
    margin:0px;
    padding:0px;
    background: rgba(245, 207, 157, 0.818);
    border-radius: 5px;
    margin-bottom: 7px;
    opacity: 80%;
}
.chevron a{
    color: black;
}
@media screen and (min-width:767px) {
    .ttkq {
        font-size: 17pt;
    }
    .tgian {
        font-size: 15pt;
    }
    .thongbao p{
        font-size: 18pt;
    }
    .back {
        font-size: 30pt;
    }
    .search {
        font-size: 25pt;
        margin-top: 5px;
    }
    .heading1 {
        margin-top: 10px;
    }
}
@media screen and (min-width:1024px) {
    .ttkq {
        font-size: 17pt;
    }
    .tgian {
        font-size: 15pt;
    }
    .thongbao p{
        font-size: 20pt;
    }
    .back {
        font-size: 30pt;
    }
    .search {
        font-size: 25pt;
        margin-top: 5px;
    }
    .heading1 {
        margin-top: 10px;
    }
}